{% extends "habits/base.html" %}
{% load crispy_forms_tags %}

{% block title %}Zarządzaj Nawykiem | Habit Tracker{% endblock %}

{% block content %}
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card mt-4">
                <div class="card-header bg-primary text-white">
                    <h4 class="mb-0">{% if form.instance.pk %}Edytuj nawyk{% else %}Stwórz nowy nawyk{% endif %}</h4>
                </div>
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}

                        {{ form|crispy }}

                        <div class="d-flex justify-content-between mt-4">
                            <a href="javascript:history.back()" class="btn btn-outline-secondary">Anuluj</a>
                            <button type="submit" class="btn btn-primary">Zapisz</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}